@import '../../../assets/sass/main.scss';

.blockBG {
  background-image: url(../../../assets/images/Blog/mob/Blog-mob-1x-min.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-color: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.4),
    rgba(0, 0, 0, 0.4)
  );

  width: 320px;
  height: 247px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 140px;
  padding-left: 40px;
  padding-right: 40px;

  @include vp(tablet) {
    width: 368px;
    height: 493px;

    margin-left: 0;
    margin-right: 0;

    background-image: url(../../../assets/images/Blog/tab/Blog-tab-1x-min.jpg);
  }

  @include vp(desktop) {
    width: 670px;
    height: 460px;
    background-image: url(../../../assets/images/Blog/desc/Blog-desc-1x-min.jpg);
  }
}

.blockBG__retina {
  background-image: url(../../../assets/images/Blog/mob/Blog-mob-2x-min.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.4),
    rgba(0, 0, 0, 0.4)
  );

  width: 320px;
  height: 247px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 140px;
  padding-left: 40px;
  padding-right: 40px;

  @include vp(tablet) {
    width: 368px;
    height: 493px;

    margin-left: 0;
    margin-right: 0;

    background-image: url(../../../assets/images/Blog/tab/blog-tab-2x-min.jpg);
  }

  @include vp(desktop) {
    width: 670px;
    height: 460px;

    background-image: url(../../../assets/images/Blog/desc/Blog-desc-2x-min.jpg);
  }
}
