@import '../../assets/sass/main.scss';

.form {
  padding: 40px 20px;
}

.sectionTitle {
  width: 147px;

  font-family: 'Open Sans';

  margin-bottom: 32px;

  font-weight: 300;
  font-size: 38px;
  line-height: 48px;

  color: var(--third-text-cl);
}
