@import '../../../assets/sass/main.scss';

.NavBlock__List {
  display: flex;
}

.NavBlock__item:not(:last-child) {
  margin-right: 17px;
}

.NavBlock__link {
  display: block;

  font-family: 'Open Sans';

  font-weight: 400;
  font-size: 16px;
  line-height: 26px;

  color: var(--main-text-cl);

  &:hover {
    padding-bottom: 5px;
    border-bottom: 2px solid var(--accent-active-cl);
  }
}
