@import '../../../assets/sass/main.scss';

.NavBlock__List {
  display: flex;
}

.NavBlock__item:not(:last-child) {
  margin-right: 17px;
  @include vp(desktop) {
    margin-right: 40px;
  }
}
.NavBlock__link {
  display: block;

  font-family: 'Open Sans';

  font-weight: 400;
  font-size: 16px;
  line-height: 26px;

  color: var(--main-text-cl);

  &:hover {
    padding-bottom: 5px;
    border-bottom: 2px solid var(--accent-active-cl);
  }

  @include vp(tablet) {
    width: 50px;
    height: 30px;

    font-size: 18px;
    line-height: 28px;
  }

  @include vp(desktop) {
    width: 52px;
    height: 29px;
  }
}
