@import '../../assets/sass/main.scss';

.aboutUs__section {
  @include vp(tablet) {
    display: flex;

    margin: 0 auto;
    width: 768px;
  }

  @include vp(desktop) {
    width: 1360px;
    height: 460px;
  }
}
