.aboutUs__section {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));

  border-radius: 0px;
}

.aboutUs__section__textBlock {
  width: 320px;
  height: 562px;

  background-color: var(--accent-active-cl);
  margin-left: auto;
  margin-right: auto;
  padding: 40px 30px;
}

.textBlock__beforeTitle {
  width: 215px;
  height: 30px;

  margin-bottom: 10px;

  font-family: 'Open Sans';

  font-weight: 400;
  font-size: 18px;
  line-height: 30px;

  color: var(--main-text-cl);
}

.textBlock__Title {
  width: 204px;
  height: 144px;

  margin-bottom: 25px;

  font-family: 'Open Sans';

  font-weight: 300;
  font-size: 38px;
  line-height: 48px;

  color: var(--main-text-cl);
}

.textBlock__text {
  width: 260px;
  height: 205px;

  font-family: 'Open Sans';

  margin-bottom: 25px;

  font-weight: 400;
  font-size: 16px;
  line-height: 26px;

  color: var(--main-text-cl);
}

.textBlock__button {
  display: block;

  width: 158px;
  height: 47px;

  text-align: center;
  padding-top: 9px;

  border: 1px solid var(--main-text-cl);
  border-radius: 5px;
}

.textBlock__button__text {
  width: 86px;
  height: 26px;

  font-family: 'Open Sans';

  font-weight: 400;
  font-size: 16px;
  line-height: 26px;

  color: var(--main-text-cl);
}
