@import '../../assets/sass/main.scss';

.team__Section {
  width: 320px;
  margin-left: auto;
  margin-right: auto;
  padding: 40px 20px;
}

.team__Section__beforeTitle {
  width: 103px;

  font-family: 'Open Sans';

  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;

  font-weight: 400;
  font-size: 18px;
  line-height: 30px;

  text-align: center;

  color: var(--third-text-cl);
}

.team__Section__Title {
  width: 220px;

  font-family: 'Open Sans';

  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;

  font-weight: 300;
  font-size: 38px;
  line-height: 48px;

  text-align: center;

  color: var(--third-text-cl);
}

.team__Section__text {
  width: 207px;

  font-family: 'Open Sans';

  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;

  font-weight: 400;
  font-size: 16px;
  line-height: 26px;

  text-align: center;

  color: var(--third-text-cl);
}
