@import '../../assets/sass/main.scss';

.team__Section {
  width: 320px;
  margin-left: auto;
  margin-right: auto;
  padding: 40px 20px;

  @include vp(tablet) {
    width: 768px;
    height: 500px;
    padding: 40px 30px;
  }

  @include vp(desktop) {
    width: 1360px;
    height: 720px;
    padding: 80px 30px;
  }
}

.team__Section__beforeTitle {
  width: 103px;

  font-family: 'Open Sans';

  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;

  font-weight: 400;
  font-size: 18px;
  line-height: 30px;

  text-align: center;

  color: var(--third-text-cl);

  @include vp(tablet) {
    width: 114px;
    height: 33px;

    font-size: 20px;
    line-height: 33px;
  }
}

.team__Section__Title {
  width: 220px;

  font-family: 'Open Sans';

  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;

  font-weight: 300;
  font-size: 38px;
  line-height: 48px;

  text-align: center;

  color: var(--third-text-cl);

  @include vp(tablet) {
    width: 410px;
  }
}

.team__Section__text {
  width: 207px;

  font-family: 'Open Sans';

  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;

  font-weight: 400;
  font-size: 16px;
  line-height: 26px;

  text-align: center;

  color: var(--third-text-cl);

  @include vp(tablet) {
    width: 625px;

    font-size: 17px;
    line-height: 28px;
  }
}

.list {
  @include vp(tablet) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 0px;
  }
}
