@import '../../assets/sass/main.scss';

.sectionHeader {
  position: fixed;
}

.sectionHeader__TitleBlock {
  display: flex;
  align-items: center;

  margin-bottom: 10px;

  transform: translateZ(0);
  -moz-osx-font-smoothing: grayscale;
  transition-duration: 0.3s;
  transition-property: transform;

  &:hover,
  &:focus,
  &:active {
    cursor: pointer;
    transform: scale(1.1);
  }
}

.sectionHeader__Title {
  font-family: 'Open Sans';

  height: 43px;

  font-weight: 400;
  font-size: 37px;
  line-height: 42px;

  margin-left: 5px;

  color: var(--main-text-cl);
}

.sectionHeader__TitleActive {
  color: var(--accent-active-cl);
}
