@import '../../assets/sass/main.scss';

.sectionHeader {
  position: fixed;
  height: 120px;

  padding-top: 20px;
  z-index: 1000;

  @include vp(tablet) {
    display: flex;
    align-items: center;

    height: 70px;
  }
}

.sectionHeader__TitleBlock {
  display: flex;
  align-items: center;

  margin-left: auto;
  margin-right: auto;

  margin-bottom: 10px;

  transform: translateZ(0);
  transition-duration: 0.3s;
  transition-property: transform;

  &:hover,
  &:focus,
  &:active {
    cursor: pointer;
    transform: scale(1.1);
  }

  @include vp(tablet) {
    width: 300px;
    margin-right: 70px;
  }

  @include vp(desktop) {
    margin-left: -50px;
    margin-right: 570px;
  }
}

.sectionHeader__Title {
  font-family: 'Open Sans';

  height: 43px;

  font-weight: 400;
  font-size: 37px;
  line-height: 42px;

  margin-left: 5px;

  color: var(--main-text-cl);
}

.sectionHeader__TitleLink {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sectionHeader__TitleActive {
  color: var(--accent-active-cl);
}
