@import '../../assets/sass/main.scss';

.aboutUs__section__textBlock {
  width: 320px;
  height: 562px;

  background-color: var(--accent-active-cl);
  margin-left: auto;
  margin-right: auto;
  padding: 40px 30px;

  @include vp(tablet) {
    width: 400px;
    height: 590px;
  }

  @include vp(desktop) {
    width: 690px;
    height: 460px;
  }
}

.textBlock__beforeTitle {
  width: 215px;
  height: 30px;

  margin-bottom: 10px;

  font-family: 'Open Sans';

  font-weight: 400;
  font-size: 18px;
  line-height: 30px;

  color: var(--main-text-cl);

  @include vp(tablet) {
    width: 237px;
    height: 33px;

    font-size: 20px;
    line-height: 33px;
  }
}

.textBlock__Title {
  width: 204px;
  height: 144px;

  margin-bottom: 25px;

  font-family: 'Open Sans';

  font-weight: 300;
  font-size: 38px;
  line-height: 48px;

  color: var(--main-text-cl);

  @include vp(desktop) {
    width: 541px;
    height: 48px;
  }
}

.textBlock__text {
  width: 260px;
  height: 205px;

  font-family: 'Open Sans';

  margin-bottom: 25px;

  font-weight: 400;
  font-size: 16px;
  line-height: 26px;

  color: var(--main-text-cl);

  @include vp(tablet) {
    width: 315px;
    height: 226px;

    margin-right: 50px;

    font-size: 19px;
    line-height: 30px;
  }

  @include vp(desktop) {
    width: 606px;
    height: 113px;

    font-weight: 400;

    font-size: 23px;
    line-height: 33px;

    margin-bottom: 60px;
  }
}

// ---------------------------------------------------------------------------//

.blog__section__textBlock {
  width: 320px;

  margin-left: auto;
  margin-right: auto;

  background-color: var(--accent-color);
  padding: 40px 40px 40px 20px;

  @include vp(tablet) {
    width: 400px;
    height: 493px;
  }

  @include vp(desktop) {
    width: 690px;
    height: 460px;
  }
}

.textBlock_date {
  width: 114px;

  font-family: 'Open Sans';

  margin-bottom: 10px;

  font-weight: 400;
  font-size: 18px;
  line-height: 30px;

  color: var(--main-text-cl);

  @include vp(tablet) {
    width: 126px;
    height: 33px;

    font-weight: 400;
    font-size: 20px;
    line-height: 33px;
  }
}

.textBlock_Title_Blog {
  width: 254px;

  font-family: 'Open Sans';

  margin-bottom: 25px;

  font-weight: 300;
  font-size: 38px;
  line-height: 48px;

  color: var(--main-text-cl);
}

.textBlock_Text_Blog {
  width: 260px;

  font-family: 'Open Sans';

  margin-bottom: 25px;

  font-weight: 400;
  font-size: 16px;
  line-height: 26px;

  color: var(--main-text-cl);

  @include vp(tablet) {
    width: 315px;
    height: 226px;

    font-size: 21px;
    line-height: 28px;
  }

  @include vp(desktop) {
    width: 606px;
    height: 113px;

    font-size: 21px;
    line-height: 28px;
    margin-bottom: 50px;
  }
}
