@import '../../assets/sass/main.scss';

.blog__section {
  margin-left: auto;
  margin-right: auto;

  @include vp(tablet) {
    display: flex;
    flex-direction: row-reverse;

    margin: 0 auto;
    width: 768px;
  }
  @include vp(desktop) {
    width: 1360px;
    height: 460px;
  }
}
