@import '../../../assets/sass/main.scss';

.AboutUsBG {
  background-image: url(../../../assets/images/AboutUs/AboutUs-mob-1x-min.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.4),
    rgba(0, 0, 0, 0.4)
  );

  margin-right: auto;
  margin-left: auto;

  width: 320px;
  height: 220px;
  @include vp(tablet) {
    width: 368px;
    height: 590px;
    background-image: url(../../../assets/images/AboutUs/tab/About-tab-1x-min.jpg);
  }
  @include vp(desktop) {
    background-image: url(../../../assets/images/AboutUs/desc/AboutUs-desc-1x-min.jpg);
  }
}

.AboutUsBG__retina {
  background-image: url(../../../assets/images/AboutUs/AboutUs-mob-2x-min.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.4),
    rgba(0, 0, 0, 0.4)
  );

  margin-right: auto;
  margin-left: auto;

  width: 320px;
  height: 220px;
  @include vp(tablet) {
    width: 368px;
    height: 590px;
    margin-left: 0;
    margin-right: 0;
    background-image: url(../../../assets/images/AboutUs/tab/About-tab-2x-min.jpg);
  }

  @include vp(desktop) {
    width: 670px;
    height: 460px;

    background-image: url(../../../assets/images/AboutUs/desc/AboutUs-desc-2x-min.jpg);
  }
}
